<.header>
  Edit Document <%= @document.id %>
  <:subtitle>Use this form to manage document records in your database.</:subtitle>
</.header>

<.document_form changeset={@changeset} action={~p"/docs/#{@document}"} />

<.back navigate={~p"/docs"}>Back to docs</.back>
